body{
    width: 100%;
    background-image: url("lab1/background img.jpeg");
}
.banner-img{
    display:flex;
    flex: 1fr;
    height: 3rem;
    width: 100%;
    opacity: 1;
}
.banner-img:hover{
    opacity: 0.8;
}
.table{
    border: 2px solid black;
    border-collapse: collapse;
    margin-top: 2rem;
}
td, th{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
th{
    color: rgb(36, 62, 139);
}
.button{
    width: 5rem;
    height: 2rem;
    background-color: black;
    cursor: pointer;
    color: white;
    margin-bottom: 1rem;
}
input[type="text"]:focus ,input[type="tel"]:focus, textarea:focus{
    border: 3px solid rgb(21, 156, 206);
    outline: none;
}
.Form-description-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Form-description{
    color: rgb(26, 103, 110);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 40rem;
}
.video{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}