.cart-window{
  margin-top: 2rem;
  margin-bottom: 7rem;
  width: 100%;
}
.cart-window .container{
  margin: auto;
  max-width: 80%;
}
.cart-window .row{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 135rem;
  margin: auto;
}
.cart-window .col{
  padding: 1.5rem;
  flex-grow: 1;
}
.cart-window .cart-items{
  flex-basis: 50%;
  background-color: white;
  height: fit-content;
}
.cart-items-row{
  display: flex;
  justify-content: space-evenly;
}
.cart-items-row .item-img-container{
  flex-basis: 35%;
  display: flex;
  align-items: baseline;
  max-width: 40rem;
}
.item-img-container img{
  width: 85%;
}
.cart-items-row .item-details{
  flex-basis: 56%;
  padding: 0rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
}
.item-details div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-details h3{
  margin-top: 1.5rem;
}
.quantity{
  width: 3.5rem;
  height: 2rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid black;
  color: black;
  padding-left: 0.5rem;
  margin-bottom: 2.5rem;
}
.quantity-label{
  margin-bottom: 2.5rem;
}
.gray{
  color: rgb(120, 118, 118);
}
.cart-window .price{
  color: red;
  padding: 0;
}
.quantity:focus{
  border: 1px solid red;
}
.remove{
  margin-top: auto;
  font-size: 1.3rem;
  color: rgb(119, 23, 23);
  text-decoration: underline;
  cursor: pointer;
}
.cart-window .order-summary{
  flex-basis: 25%;
  background-color: white;
  height: fit-content;
  padding: 3rem;
}
.cart-window .order-row{
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}
.cart-window h1{
  margin-top: 0;
  color: rgb(255, 1, 1);
  text-decoration: underline;
}
.cart-window span{
  font-weight: 600;
}
.place-order{
  border: none;
  background-color: rgb(219, 19, 19);
  border-radius: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  width: 85%;
  height: 6rem;
  transition: width 0.4s ease;
  cursor: pointer;
}
.place-order:hover{
  background-color: rgb(110, 10, 10);
  width: 100%;
  transition: background-color 0.3s ease, width 0.4s ease;
}
@media(max-width: 34.9rem){
  .cart-window .container{
    max-width: 90%;
  }
}
