.categories-section{
  z-index: 200;
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  height: 6rem;
  top: 6rem;
  border: 1px solid rgb(225, 225, 225);
  border-right: none;
  border-left: none;
}
.categories-selector{
  display: flex;
  flex-basis: 65%;
  height: 100%;
  margin-left: 10%;
}
.categories{
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  white-space: nowrap;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  border: 0px solid black;
  transition: border-color 0.4s ease;
}
.categories-section .reminders{
  position: absolute;
  display: none;
  left: 50%;
  top: 2rem;
  transform: translate(-50%, 0);
  white-space: nowrap;
}
.hamburger-menu-icon{
  width: 2.6rem;
  display: none;
  position: absolute;
  cursor: pointer;
  left: 1.2rem;
  bottom: 1.6rem;
}
.mobile-categories-selector{
  position: absolute;
  background-color: white;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}
.open-mobile-menu{
  height: 55rem;
}
.categories-mobile{
  flex-basis: 10%;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid rgb(197, 197, 197);
}
.categories-mobile div{
  width: 80%;
  display: flex;
  justify-content: center;
}
.support{
  color: rgb(125, 79, 19);
}
.categories-mobile .red-arrow{
  font-size: 2.2rem;
  color: red;
}
.categories-mobile:hover{
  transform: translateX(0.75rem);
  transition: transform 0.4s ease;
  border: none;
}
.categories:hover{
  border-bottom: 1px solid rgb(255, 4, 0);
  transform: translateY(0.05rem);
  transition: border-color 0.4s ease;
}
@media(max-width: 75rem){
  .categories{
    display: none;
  }
  .hamburger-menu-icon{
    display: inline-block;
  }
  .categories-section .reminders{
    display: inline-block;
  }
}