:root {
  font-size: 62.5%
}
html{
  overflow-y: scroll;
}
body{
  font-family: Poppins;
  padding-top: 10.3rem;
  margin-right: 7rem;
  margin-left: 7rem;
  padding-bottom: 4rem;
  font-size: 1.6rem;
  background-color: rgb(241, 241, 241);
}
@media(max-width: 34.9rem){
  body{
    margin-left: 2rem;
    margin-right: 2rem;
  }
}