.section-name{
  background-color: rgb(165, 100, 100);
  margin-bottom: 20px;
  display: inline-flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 0 0 7px 7px;
  padding-bottom: 6px;
  color: white;
  font-size: 12px;
  box-shadow: 1px 1px 7px black;
}
.item-grid{
  display: grid;
}
@media(max-width: 449px){
  .item-grid{
    grid-template-columns: 1fr;
  }
}
@media(min-width: 450px) and (max-width: 699px){
  .item-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width: 700px) and (max-width: 899px){
  .item-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(min-width: 900px) and (max-width: 1099px){
  .item-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1100px) and (max-width: 1299px){
  .item-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1300px){
  .item-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.item-pic{
  width: 190px;
  height: 120px;
  margin-bottom: 20px;
  object-fit: contain;
}
.item-container{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(219, 207, 207);
  margin-right: 1px;
  margin-bottom: 1px;
  border-radius: 7px;
}
.item-name, .price{
  font-size: 12px;
  padding-bottom: 5px;
  white-space: nowrap;
}
.fa-star{
  color: rgb(204, 204, 204);
}
.checked, .fa-star-half-o{
  color: orange;
}
.star-system{
  font-size: 10px;
  padding-bottom: 5px;
  cursor: pointer;
  color: rgb(0, 113, 133);
}
.price{
  font-weight: bold;
  font-size: 10px;
  padding-bottom: 10px;
}
.quantity{
  border-radius: 5px;
  border: 1px solid rgb(181, 181, 181);
  font-size: 12px;
  height: 20px;
}
.spacer{
  flex: 80px;
}
.add-to-cart-button{
  background-color: rgb(224, 78, 75);
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 15px;
  font-size: 11px;
  color: white;
}
.add-to-cart-button:hover{
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: rgb(145, 13, 13);
}