.section-name{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25em;
  height: 5.5rem;
  padding: 0.45rem 0rem 0.4rem;
  color: rgb(228, 3, 3);
  box-shadow: 0.1rem 0.1rem 0.7rem black;
  font-size: 1.8rem;
  font-family: Poppins;
  font-weight: 700;
  margin-left: 10%;
}
.logo{
  height: 65%;
  margin-left: 0.5rem;
}
.item-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  margin-top: 2rem;
  font-family: Roboto, Arial;
  z-index: 100;
  margin: 2rem 10% 7rem 10%;
}
.item{
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.item:hover{
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.item-container{
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  font-size: 1.4rem;
  background-color: white;
}
.item-grid .item-pic{
  max-width: 85%;
  height: 20rem;
  margin-bottom: 2rem;
  object-fit: contain;
}
.item-name{
  display: flex;
  align-items: center;
  text-align: center;
  height: 5.1rem;
  max-width: 88%;
}
.item-name, .price{
  padding-bottom: 0.8rem;
}
.price{
  padding-top: 0.5rem;
}
.fa-star{
  color: rgb(222, 222, 222);
}
.checked, .fa-star-half-o{
  color: rgb(235, 29, 26);
}
.star-system{
  padding-bottom: 0.8rem;
  cursor: pointer;
  color: rgb(159, 93, 2);
}
.price{
  font-weight: bold;
  padding-bottom: 1rem;
}
.search-results{
  margin: 5rem 0rem 3rem 11%;
  color: rgb(91, 91, 91);
}
.search-term{
  color: rgb(255, 0, 0);
}
@media(max-width: 44.8rem){
  .item-grid .item-pic{
    max-width: 92.5%;
  }
  .item-container{
    font-size: 1.8rem;
  }
  .section-name{
    width: 100%;
    margin: 0;
  }
}
@media(max-width: 34.9rem){
  .item-grid{
    margin-left: 2rem;
    margin-right: 2rem;
  }
}