.item-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item-pic{
  width: 200px;
  height: 150px;
  margin-bottom: 20px;
  object-fit: contain;
}
.item-container, .item-container-right, .item-container-top{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(218, 217, 217);
  border-right: 0px;
  border-top: 0px;
}
.item-container-right{
  border-right: 1px solid rgb(218, 217, 217);
}
.item-container-top{
  border-top: 1px solid rgb(218, 217, 217);
}
.item-name, .price{
  font-size: 12px;
  padding-bottom: 5px;
}
.price{
  font-weight: bold;
}
.add-to-cart-button{
  background-color: rgb(255, 59, 56);
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 15px;
  font-size: 13px;
  color: white;
}
.add-to-cart-button:hover{
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: rgb(152, 0, 0);
}
.spacer{
  height: 30px;
}