.support{
  margin-bottom: 7rem;
}
.support .container{
  max-width: 100rem;
  margin: auto;
}
.support .row{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.support .col{
  flex-basis: 95%;
  min-width: 35rem;
  display: flex;
  flex-direction: column;
}
.support h1{
  margin-bottom: 0;
  color: red;
  font-weight: bold;
  font-size: 3.5rem;
  text-decoration: underline;
}
.support h5{
  color: rgb(88, 88, 88);
}
.support input{
  width: 16rem;
  margin-top: 0.5rem;
}
.support input[type=reset], input[type=submit]{
  border: none;
  background-color: rgb(219, 19, 19);
  height: 4rem;
  width: 10rem;
  border-radius: 0.7rem;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
.support input[type=reset]:focus, input[type=submit]:focus{
  border: 1px white solid;
}
.support input[type=reset]:hover, input[type=submit]:hover{
  background-color: rgb(110, 10, 10);
  transition: background-color 0.3s ease;
}
.support textarea{
  font-size: 1.5rem;
}
.support textarea, input, .support-dropdown{
  border-radius: 0.2rem;
  border: 1px solid black;
}
.support-dropdown{
  outline: none;
  width: 30rem;
  height: 3rem;
  color: black;
  font-size: 1.2rem;
}
input{
  height: 2.5rem;
}
.support textarea:focus, input:focus, .support-dropdown:focus{
  border: 2px solid red;
  outline: none;
}
